.video__list__item {
  margin-bottom: 16px;
  border: 1px solid #ddd; /* 보더 선 스타일 */
  padding: 8px; /* 내측 여백 */
  border-radius: 4px; /* 모서리 둥글게 */
}

.video__title {
  display: block;
  width: 50%; /* 필요한 경우 너비를 조정하세요 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.down__button {
  width: 100%;
}
